Repository HongDam-org/TWTW, pull requests merged in 2023-11, with the labels that each got.

#55 [FEAT] RabbitMQ Queue, Exchange, Binding 생성 자동화
  backend/src/main/java/com/twtw/backend/config/rabbitmq/RabbitMQConfig.java
Labels: feat, setting

#57 [FEAT] controller advice 추가 및 response entity 정리
  backend/src/main/java/com/twtw/backend/domain/friend/controller/advice/FriendControllerAdvice.java
  backend/src/main/java/com/twtw/backend/domain/member/controller/AuthController.java
  backend/src/main/java/com/twtw/backend/domain/member/controller/advice/AuthControllerAdvice.java
  backend/src/main/java/com/twtw/backend/domain/member/exception/RefreshTokenInfoMismatchException.java
  backend/src/main/java/com/twtw/backend/domain/member/service/AuthService.java
  backend/src/main/java/com/twtw/backend/domain/plan/controller/PlanController.java
  backend/src/main/java/com/twtw/backend/global/advice/GlobalErrorAdvice.java
Labels: feat, refactor

#59 [FEAT] test config (Service, Repository)
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/twtw/backend/BackendApplicationTests.java
  backend/src/test/java/com/twtw/backend/domain/group/repository/GroupRepositoryTest.java
  backend/src/test/java/com/twtw/backend/domain/plan/repository/PlanRepositoryTest.java
  backend/src/test/java/com/twtw/backend/fixture/member/MemberEntityFixture.java
  backend/src/test/java/com/twtw/backend/group/GroupTest.java
  backend/src/test/java/com/twtw/backend/support/database/DatabaseTest.java
  backend/src/test/java/com/twtw/backend/support/database/DatabaseTestConfig.java
  backend/src/test/java/com/twtw/backend/support/exclude/ExcludeTest.java
  backend/src/test/java/com/twtw/backend/support/repository/EnableDataJpa.java
  backend/src/test/java/com/twtw/backend/support/repository/RepositoryTest.java
  backend/src/test/java/com/twtw/backend/support/service/LoginTest.java
Labels: setting

#60 [FEAT] 테스트를 위한 Fixture 생성
  backend/src/test/java/com/twtw/backend/fixture/friend/FriendEntityFixture.java
  backend/src/test/java/com/twtw/backend/fixture/member/MemberEntityFixture.java
  backend/src/test/java/com/twtw/backend/fixture/place/PlaceEntityFixture.java
  backend/src/test/java/com/twtw/backend/fixture/plan/PlanEntityFixture.java
Labels: setting

#62 [FEAT] repository 테스트 에러 수정
  backend/src/main/java/com/twtw/backend/domain/plan/service/PlanService.java
  backend/src/test/java/com/twtw/backend/domain/plan/repository/PlanRepositoryTest.java
  backend/src/test/java/com/twtw/backend/fixture/plan/PlanEntityFixture.java
  backend/src/test/java/com/twtw/backend/fixture/plan/PlanMemberEntityFixture.java
  backend/src/test/java/com/twtw/backend/support/repository/RepositoryTest.java
Labels: setting

#63 [FEAT] group plan api docs
  backend/src/docs/group.adoc
  backend/src/docs/index.adoc
  backend/src/docs/plan.adoc
  backend/src/main/java/com/twtw/backend/domain/group/controller/GroupController.java
  backend/src/main/java/com/twtw/backend/domain/plan/dto/response/PlanInfoResponse.java
  backend/src/test/java/com/twtw/backend/domain/group/controller/GroupControllerTest.java
  backend/src/test/java/com/twtw/backend/domain/plan/controller/PlanControllerTest.java
Labels: docs

#65 [FEAT] plan service test
  backend/src/main/java/com/twtw/backend/domain/group/entity/Group.java
  backend/src/main/java/com/twtw/backend/domain/place/mapper/PlaceMapper.java
  backend/src/main/java/com/twtw/backend/domain/plan/client/SearchDestinationClient.java
  backend/src/main/java/com/twtw/backend/domain/plan/dto/client/PlaceDetails.java
  backend/src/main/java/com/twtw/backend/domain/plan/dto/client/SearchDestinationRequest.java
  backend/src/main/java/com/twtw/backend/domain/plan/entity/Plan.java
  backend/src/main/java/com/twtw/backend/domain/plan/entity/PlanMember.java
  backend/src/main/java/com/twtw/backend/domain/plan/exception/InvalidPlanMemberException.java
  backend/src/test/java/com/twtw/backend/domain/place/controller/PlaceControllerTest.java
  backend/src/test/java/com/twtw/backend/domain/plan/controller/PlanControllerTest.java
  backend/src/test/java/com/twtw/backend/domain/plan/service/PlanServiceTest.java
  backend/src/test/java/com/twtw/backend/fixture/place/PlaceDetailsFixture.java
Labels: test

#66 [FEAT] place service test
  backend/src/main/java/com/twtw/backend/domain/place/dto/client/SurroundPlaceRequest.java
  backend/src/test/java/com/twtw/backend/domain/place/service/PlaceServiceTest.java
  backend/src/test/java/com/twtw/backend/domain/plan/controller/PlanControllerTest.java
  backend/src/test/java/com/twtw/backend/domain/plan/service/PlanServiceTest.java
Labels: test

#64 [FEAT] member test
  backend/src/test/java/com/twtw/backend/domain/member/repository/MemberRepositoryTest.java
  backend/src/test/java/com/twtw/backend/domain/member/service/MemberServiceTest.java
Labels: test

#67 [TEST] friend service repository 테스트
  backend/src/main/java/com/twtw/backend/config/security/jwt/TokenProvider.java
  backend/src/main/java/com/twtw/backend/domain/friend/repository/FriendQueryRepositoryImpl.java
  backend/src/main/java/com/twtw/backend/domain/friend/service/FriendService.java
  backend/src/test/java/com/twtw/backend/domain/friend/repository/FriendRepositoryTest.java
  backend/src/test/java/com/twtw/backend/domain/friend/service/FriendServiceTest.java
  backend/src/test/java/com/twtw/backend/domain/member/service/MemberServiceTest.java
  backend/src/test/java/com/twtw/backend/domain/plan/service/PlanServiceTest.java
  backend/src/test/java/com/twtw/backend/support/repository/EnableDataJpa.java
  backend/src/test/java/com/twtw/backend/support/repository/RepositoryTest.java
Labels: test

#68 [FEAT] Feat/auth test
  backend/src/main/java/com/twtw/backend/domain/member/repository/MemberRepository.java
  backend/src/main/java/com/twtw/backend/domain/path/dto/client/car/Position.java
  backend/src/test/java/com/twtw/backend/domain/member/service/AuthServiceTest.java
Labels: test

#70 [FEAT] cache external api
  backend/src/main/java/com/twtw/backend/domain/path/controller/PathController.java
  backend/src/main/java/com/twtw/backend/domain/place/controller/PlaceController.java
  backend/src/main/java/com/twtw/backend/domain/plan/controller/PlanController.java
Labels: feat

#69 [FEAT] group refactoring
  backend/src/main/java/com/twtw/backend/domain/group/dto/request/MakeGroupRequest.java
  backend/src/main/java/com/twtw/backend/domain/group/entity/Group.java
  backend/src/main/java/com/twtw/backend/domain/group/mapper/GroupMapper.java
  backend/src/main/java/com/twtw/backend/domain/group/repository/GroupMemberRepository.java
  backend/src/main/java/com/twtw/backend/domain/group/service/GroupService.java
  backend/src/test/java/com/twtw/backend/domain/group/controller/GroupControllerTest.java
  backend/src/test/java/com/twtw/backend/domain/group/repository/GroupRepositoryTest.java
  backend/src/test/java/com/twtw/backend/domain/group/service/GroupServiceTest.java
Labels: refactor, test
